body {
    background-color: lightgray;
}

h1 {
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 80px;
    color:white;
    text-align:center;
    margin-top: 100px;
}

h3 {
    color:darkslategray;
}

.image {
    background-image: url('image/timg.jpg');
    background-position: center;
    background-size:cover;
}

h4 {
    text-align: center;
    position: center;
}

.bar-block {
            background-color:hotpink;
            color:white;
            text-align: right;
            margin-top: 5px;
            margin-bottom: 5px;
}